*, body, html {
  margin: 0;
  padding: 0;
}

body { 
  background-color: black;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
body { 
  width: 100vw;
}


.section {
  min-height: 100vh;
  width: 100%;

  /* background-color: pink; */
  /* border: 2px dotted red; */

}

.section:nth-child(3) {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.textClass{ 
  opacity:0;
  visibility: 0;
  color: transparent;
}
.title{ 
  z-index: 10;
  width: 100%;
  background-color: transparent;
}
.imageSeqContainer{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: auto;
  /* min-height: 100vh; */
  background-color: coral !important;
  background-color: black !important;
}
.DISPLAY_NONE { 
  display: none;
  height: 0;
}
.canvasStyle{
  border: 4px solid black;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.secondSection{
  /* z-index: 12; */
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;

}
/* 
.thirdSection {
} */